<h1 class="main-header">Welcome to Weatherizer!</h1>
<h2 class="secondary-header"></h2>
<div class="container">
  <p>
    Gather statistics and information about the weather from your area! 
    Weatherizer uses your current location to determine where it should pull 
    data from. You can specify an area, a start date, and an end date and 
    receive info on the number of sunny days, temperature, humidity, rainfall,
    and more.
  </p>
  
  {{outlet}}
</div>